<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add author - {{ newAuthor.name }}</h4>
          <div class="flex-this">
            <label for="authorName">Author Name:</label>
            <input type="text" name="authorName" [(ngModel)]="newAuthor.name">
            <button class="btn btn-primary" (click)="createAuthorService()">Add Author</button>
          </div>
        </div>
      </div>
    </div>
  </div>